<html>

    <head>
        <link href="../static/css/main_page.css" rel="stylesheet" type="text/css"/>
        <link rel = "icon" href =  "../static/images/favicon.ico" type = "image/x-icon">

        <title> Book Recommendation Website </title>

        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"> </script>
        <script type='text/javascript'>
            $(document).ready(function() {
                $('button').click(function(event){
                    var book_isbn = $(this).attr('value');
                    $.ajax({
                    url: "/recommend",
                    type: "get",
                    data: {book_isbn: book_isbn},
                    success: function(response) {
                        // $('user_results').html(response);
                        window.location.assign('book/'+book_isbn)
                    },
                    error: function(error) {
                        //Do Something to handle error
                        console.log(error)
                    }
                    });
                });
            });
        </script>
    </head>

    <body>

        <!-- Heading Section -->
        <div class='head_section'>
            <h1> Book Recommendation System </h1>
            <nav>
                <a href="/">Home</a>
                <a href="#">All Books</a>
                <a href="/about">About</a>
                <div class="animation start-all_books"></div>
            </nav>
        </div>

        <!-- All Books Section -->
        <div class='outer_div'>
            <h2> All Books </h2>
            <div class='all_books'>
                <div class='grid_container'>
                    {%for i in range(all_books_len)%}
                        <div class='grid_item'>
                            <img src='{{all_books[i]["Image_Medium"]}}'>
                            <p id='book_title'> {{all_books[i]['Book_Title']}} </p>
                            <p id='book_author'> {{all_books[i]['Book_Author']}} </p>
                            <p id='book_publisher'> {{all_books[i]['Book_Publisher']}} </p>
                            <button class='view_button' id='{{i}}' value='{{all_books[i]["ISBN"]}}'> View </button>
                        </div>
                    {%endfor%}
                </div>
            </div>
        </div>


    </body>
</html>